<header></header>
<app-nav-bar>
  <app-nav-item [routerLink]="['A']">Nav Item A</app-nav-item>
  <app-nav-item [routerLink]="['B']">Nav Item B</app-nav-item>
  <app-nav-sub-menu headerText="Sub Menu!">
    <app-nav-item [routerLink]="['C']">Nav Item C</app-nav-item>
    <app-nav-item [routerLink]="['D']">Nav Item D</app-nav-item>
    <app-nav-sub-menu headerText="Another Sub Menu">
      <app-nav-item [routerLink]="['E']">Nav Item E</app-nav-item>
    </app-nav-sub-menu>
  </app-nav-sub-menu>
</app-nav-bar>
<main>
  <router-outlet></router-outlet>
</main>
